/* Outfit-Thin 100 */
@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 100;
  src: local("Outfit"), url("../../fonts/Outfit-Thin.ttf") format("truetype"); /* Safari, Android, iOS */
}

/* Outfit-ExtraLight 200 */
@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 200;
  src: local("Outfit"), url("../../fonts/Outfit-ExtraLight.ttf") format("truetype"); /* Safari, Android, iOS */
}

/* Outfit-Light 300 */
@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 300;
  src: local("Outfit"), url("../../fonts/Outfit-Light.ttf") format("truetype"); /* Safari, Android, iOS */
}

/* Outfit-Regular 400 */
@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 400;
  src: local("Outfit"), url("../../fonts/Outfit-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}

/* Outfit-Meduim 500 */
@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 500;
  src: local("Outfit"), url("../../fonts/Outfit-Medium.ttf") format("truetype"); /* Safari, Android, iOS */
}

/* Outfit-SemiBold 600 */
@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 600;
  src: local("Outfit"), url("../../fonts/Outfit-SemiBold.ttf") format("truetype"); /* Safari, Android, iOS */
}

/* Outfit-Bold 700 */
@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 700;
  src: local("Outfit"), url("../../fonts/Outfit-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
}


